my_fol/pipeline/Node_get_delete_status.json
{
	"name": "Pipeline 4",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('Web_get_pl_status').output.value[0].status, 'Succeeded'), \n    or(equals(activity('Web_get_pl_status').output.value[0].status, 'Failed'), \n        equals(activity('Web_get_pl_status').output.value[0].status, 'Cancelled')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web_get_pl_status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@{concat('https://',pipeline().parameters.PL_url,'/queryPipelineRuns?api-version=2020-12-01')}",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"lastUpdatedAfter": "@pipeline().parameters.Start_Time",
									"lastUpdatedBefore": "@pipeline().parameters.End_Time",
									"filters": [
										{
											"operand": "PipelineName",
											"operator": "Equals",
											"values": [
												"@pipeline().parameters.PL_Name"
											]
										}
									]
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://dev.azuresynapse.net/"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "get_final_status",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@{concat('https://',pipeline().parameters.PL_url,'/pipelines/',pipeline().parameters.PL_Name,'/pipelineruns/',activity('Web_get_pl_status').output.value[0].runid,'/queryActivityruns?api-version=2020-12-01')}\n",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"lastUpdatedAfter": "@pipeline().parameters.Start_Time",
						"lastUpdatedBefore": "@pipeline().parameters.End_Time",
						"filters": [
							{
								"operand": "ActivityName",
								"operator": "Equals",
								"values": [
									"@pipeline().parameters.Activity_Name"
								]
							}
						]
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "get_final_status_var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_final_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_status",
					"value": {
						"value": "@activity('get_final_status').output.value[0].output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Start_Time": {
				"type": "string"
			},
			"End_Time": {
				"type": "string"
			},
			"PL_url": {
				"type": "string"
			},
			"PL_Name": {
				"type": "string"
			},
			"Activity_Name": {
				"type": "string"
			}
		},
		"variables": {
			"UTC_before": {
				"type": "String"
			},
			"UTC_after": {
				"type": "String"
			},
			"final_status": {
				"type": "String"
			},
			"before": {
				"type": "String"
			},
			"after": {
				"type": "String"
			}
		},
		"annotations": []
	}
}