my_fol/pipeline/Node_Master.json
{
	"name": "Node_Master",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.synapse_urls",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "set_start_time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "UTC_Before",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web4",
							"description": "{}",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "set_start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@{concat('https://',pipeline().parameters.url,'createRun?api-version=2020-12-01')}",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://dev.azuresynapse.net/"
								}
							}
						},
						{
							"name": "set_end_time",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "UTC_After",
								"value": {
									"value": "@addDays(utcNow(), 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "set_end_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Node_get_delete_status",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Start_Time": {
										"value": "@variables('UTC_Before')",
										"type": "Expression"
									},
									"End_Time": {
										"value": "@variables('UTC_After')",
										"type": "Expression"
									},
									"PL_url": {
										"value": "@item()",
										"type": "Expression"
									},
									"PL_Name": {
										"value": "@pipeline().parameters.pl_name",
										"type": "Expression"
									},
									"Activity_Name": {
										"value": "@pipeline().parameters.activity_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"url": {
				"type": "string",
				"defaultValue": "myws88765.dev.azuresynapse.net/pipelines/Pipeline1/"
			},
			"synapse_urls": {
				"type": "array",
				"defaultValue": [
					"myws88765.dev.azuresynapse.net"
				]
			},
			"pl_name": {
				"type": "string",
				"defaultValue": "Pipeline1"
			},
			"activity_name": {
				"type": "string",
				"defaultValue": "Set variable1"
			}
		},
		"variables": {
			"UTC_Before": {
				"type": "String"
			},
			"UTC_After": {
				"type": "String"
			},
			"Run_Id": {
				"type": "String"
			},
			"final_status": {
				"type": "String"
			},
			"PL_Status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}