my_fol/pipeline/Pipeline 4.json
{
	"name": "Pipeline 4",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().parameters.PL_Status, 'Succeeded'), \n    or(equals(pipeline().parameters.PL_Status, 'Failed'), \n        equals(pipeline().parameters.PL_Status, 'Cancelled')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@{concat('https://',pipeline().parameters.PL_url,'/queryPipelineRuns?api-version=2020-12-01')}",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": "{\"lastUpdatedAfter\":\"@pipeline().parameters.Start_Time\",\"lastUpdatedBefore\":\"@pipeline().parameters.End_Time,\"filters\":[{\"operand\":\"PipelineName\",\"operator\":\"Equals\",\"values\":[\"@pipeline().parameters.PL_Name\"]}]}",
								"authentication": {
									"type": "MSI",
									"resource": "https://dev.azuresynapse.net/"
								}
							}
						},
						{
							"name": "Web2",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "get_pipeline_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@{concat('https://',pipeline().parameters.PL_url,'/pipelines/',pipeline().parameters.PL_Name,variables('Run_Id'),'/queryPipelineRuns?api-version=2020-12-01')}\n\n\n",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"lastUpdatedAfter": "@pipeline().parameters.Start_Time",
									"lastUpdatedBefore": "@pipeline().parameters.End_Time",
									"filters": [
										{
											"operand": "ActivityName",
											"operator": "Equals",
											"values": [
												"Set variable1"
											]
										}
									]
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://dev.azuresynapse.net/"
								}
							}
						},
						{
							"name": "get_pipeline_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Run_Id",
								"value": {
									"value": "@activity('Web1').output.value[0].runId\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "final_status",
								"value": {
									"value": "@activity('Web2').output.value[0].output.value",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"Start_Time": {
				"type": "string"
			},
			"End_Time": {
				"type": "string"
			},
			"PL_url": {
				"type": "string"
			},
			"PL_Name": {
				"type": "string"
			},
			"Activity_Name": {
				"type": "string"
			}
		},
		"variables": {
			"UTC_before": {
				"type": "String"
			},
			"UTC_after": {
				"type": "String"
			},
			"url": {
				"type": "String",
				"defaultValue": "myws88765.dev.azuresynapse.net/pipelines/Pipeline1"
			},
			"Run_Id": {
				"type": "String"
			},
			"final_status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}