my_fol/pipeline/Pipeline1.json
{
	"name": "Pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.file_names",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "new",
										"wildcardFileName": {
											"value": "@item()",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Json1",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline 1_copy1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"look_up": {
										"value": "@activity('Lookup1').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_names": {
				"type": "array",
				"defaultValue": [
					"data_master_lat.json"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-06T06:14:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}